<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let categoria of categorias">
      {{ categoria.nombre }}
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="editarCategoria(categoria)">
          Editar
        </ion-button>
        <ion-button color="danger" (click)="eliminarCategoria(categoria)">
          Eliminar
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Botón flotante para agregar categorías -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarCategoria()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


